/********************* middle banner style****************** */
.content2{
  display: flex;
  width: 1020px;
  height: 102px;
  grid-template-columns: 1fr 1fr;
  grid-gap:10px;
  margin-top: 0;
  margin:100px 0 0 100px;
}
 

 
/* last banner top style */
.left_title{
  display: inline-block;
  position:relative;
  background-color: #fff;
  width: 450px;
  height: 62px;
  left:334px;
  margin: 60px 30px 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.3;
  letter-spacing: 0;
}
.moreBtn1{
  background-color: #fff;
  position:relative;
  left:764px;
  bottom:30px;
  font-weight: 550;
  color: #aaa; 
  cursor: pointer;
  width: 70px;
  font-size: 14px;

}

.right_title{
  display: inline-block;
  position:relative;
  background-color: #fff;
  width: 450px;
  height: 62px;
  left:320px;
  margin: 60px 30px 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.3;
  letter-spacing: 0;
  left:934px;
  bottom:576px;
}
.moreBtn2{
  background-color: #fff;
  position:relative;
  left:1432px;
  bottom:606px;
  font-weight: 550;
  color: #aaa; 
  cursor: pointer;
  width: 70px;
  font-size: 14px;
}